@model Planner.Models.Voting

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Voting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOpenQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOpenQuestion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VotingId }) |    
    @Html.ActionLink("Add answers", "Create", "VotingAnswers", new { id = Model.VotingId }, null) |

    @Html.ActionLink("Back to List", "Index")
</p>
